-i https://pypi.org/simple
certifi==2026.7.22
chardet==3.0.4
click==8.4.2
coreapi-cli==1.0.9
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.7.1
django-cors-headers==4.9.0
django-filter==26.1
django-separatedvaluesfield==0.6.0
django==5.2.17
djangorestframework-xml==2.0.0
djangorestframework==3.17.2
httpie==3.2.4
idna==3.18
itypes==1.1.0
jinja2==3.1.6
markdown==3.10.3
markupsafe==3.0.3
pygments==2.20.0
pytz==2018.7
requests==2.34.2
setuptools==83.0.0
uritemplate==3.0.0
urllib3==2.7.0
